<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.rating %></p>

<br>
  <%= link_to "Modifier", edit_restaurant_path(@restaurant) %>
<br>
  <%= link_to "Supprimer", restaurant_path(@restaurant),
      data: {turbo_method: "delete", turbo_confirm: "Etes vous sur?"}
  %>
<br>
<%= link_to "Retour à la liste", restaurants_path%>
